<ng-form name="_form" ng-cloak>

    <md-input-container flex class="md-block" ng-class="{'md-icon-left': $component.icon}" md-is-error="$component.invalid && ($component.touched || $component.dirty)" md-no-float="$component.noFloat">
        <md-icon class="material-icons" ng-if="$component.icon">{{ $component.icon }}</md-icon>
        <input
                type="number"
                placeholder="{{ $component.label }}"

                name="{{ $component.name }}"
                id="{{ $component.name }}"

                ng-model="$component.value"
                ng-change="$component.onChange()"
                ng-model-options="$component.modelOptions"

                ng-required="$component.isRequired"
                ng-disabled="$component.isDisabled"

                max="{{ $component.max }}"
                min="{{ $component.min }}"

                step="{{ $component.step || 1 }}"

                ng-focus="$component.isDisabled || $component.setTouched()"
                ng-click="$component.isDisabled || $component.setTouched()" >

        <div ng-messages="$component.errors" ng-show="$component.dirty || $component.touched" >
            <ng-transclude></ng-transclude>
        </div>

    </md-input-container>

</ng-form>